html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: initial;
}

a:hover {
  opacity: 0.8;
}

aside {
  margin-bottom: 30px;
}

.subtitle {
  margin-bottom: 10px;
}

/* Mobile */
@media screen and (max-width: 460px) {
  body {
    padding: 0px 15px;
  }

  h1 {
    font-size: 24px;
  }

  h2, h3 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 15px;
  }

  li {
    font-size: 18px;
  }

  header nav {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width: 460px) and (max-width: 768px) {
  body {
    padding: 20px;
  }

  header {
    margin-bottom: 30px;
  }

  header ul {
    max-width: 180px;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 26px;
  }

  h2, h3 {
    font-size: 22px;
  }

  p {
    font-size: 20px;
    margin-bottom: 15px;
  }

  li {
    font-size: 20px;
  }
}